<template>
    <div :class="className">
        <input type="checkbox" :id="id" :checked="checked" @change="update" />
        <label :for="id"/>
    </div>
</template>

<script>
export default {
    props: {
        'checked': {
            type: Boolean,
            required: true
        },
        'id': {
            type: String,
            default: 'checkbox'
        },
        'className': {
            type: String
        }
    },
    methods: {
        update (event) {
            this.$emit('change', event.target.checked)
        }
    }
}
</script>

<style lang="scss">
@import '@/scss/_variables.scss';

input[type=checkbox] + label {
    display: block;
    margin: 5px;
    cursor: pointer;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    font-size: 20px;
    border-radius: 5px;
    display: inline-block;
    padding: 7px 10px;
    color: transparent;
    transition: all 300ms ease;
    box-shadow: 0px 2px 8px rgba($black, 0.1);
}

input[type=checkbox] + label:active:before {
    box-shadow: 0px 2px 8px rgba($primary-light, 0.5);
    transform: translate3d(0, -2px, 0);
}

input[type=checkbox]:checked + label:before {
    background-color: $primary-light;
    color: $white;
}
</style>
