<template>
    <button
        v-text="label"
        :type="type"
        @click="update" />
</template>

<script>
export default {
    props: {
        label: {
            type: String,
            required: true
        },
        type: {
            type: String,
            default: 'submit'
        }
    },
    methods: {
        update () {
            this.$emit('click')
        }
    }
}
</script>

<style lang="scss">
@import '@/scss/_variables.scss';

button {
    background-color: transparent;
    border: 0;
    outline: none;
    box-shadow: 0px 2px 8px rgba($black, 0.1);
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
    padding: 10px 20px;
    text-transform: uppercase;
    color: $primary;
    font-weight: bold;

    &:hover {
        color: $white;
        background: $primary-light;
        transform: translate3d(0, -2px, 0);
    }
}
</style>
