<template>
    <form @submit.prevent="addNewTodo">
        <div class="newTodo">
            <text-input
                class-name="todo__name"
                type="text"
                :value="todo.name"
                @change="updateNewTodoName" />

            <custom-button
                label="Add" />
        </div>
    </form>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import TextInput from './TextInput'
import CustomButton from './CustomButton'

export default {
    components: { TextInput, CustomButton },
    methods: {
        updateNewTodoName (name) {
            this.updateNewTodo({
                ...this.todo,
                name
            })
        },
        ...mapActions([
            'addNewTodo',
            'updateNewTodo'
        ])
    },
    computed: {
        ...mapGetters({
            'todo': 'getNewTodo'
        })
    }
}
</script>

<style lang="scss">
.newTodo {
    margin-bottom: 50px;
    display: flex;

    > * {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}
</style>
