<template>
    <div :class="['notification', notification.show ? 'notification--visible' : '', 'notification--' + notification.type]">
        <strong class="notification__message" v-text="notification.message"></strong>
    </div>
</template>

<script>
export default {
    props: ['notification']
}
</script>

<style lang="scss">
@import "@/scss/_variables.scss";

.notification {
    padding: 20px;
    margin-bottom: 10px;
    transition: all 500ms ease;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba($black, 0.1);

    &--success {
        background-color: $success;
    }

    &--error {
        background-color: $error;
    }
}
</style>
