<template>
    <transition-group name="notifications" tag="div" class="notifications">
        <notification v-for="notification in notifications" :notification="notification" :key="notification.id"></notification>
    </transition-group>
</template>

<script>
import { mapGetters } from 'vuex'
import Notification from './Notification'

export default {
    components: { Notification },
    computed: {
        ...mapGetters({
            'notifications': 'getNotifications'
        })
    }
}
</script>

<style lang="scss">
@import "@/scss/_variables.scss";

.notifications {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 100%;
    max-width: 800px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    padding: 20px;
}

.notifications-enter,
.notifications-leave-active {
    opacity: 0;
    transform: translate3d(0, 90px, 0);
}
</style>
