<template>
    <div class="progress-bar" :class="[completed == '100' ? 'completed' : '']">
        <div class="progress-bar__bar" :style="{width: completed + '%'}"></div>
    </div>
</template>

<script>
export default {
    props: ['completed']
}
</script>

<style lang="scss">
@import '@/scss/_variables.scss';

.progress-bar {
    width: 100%;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 30px 0;
    box-shadow: 0px 2px 8px rgba($black, 0.1);

    &__bar {
        display: inline-block;
        background-color: $primary;
        height: 10px;
        border-radius: 5px;
        transition: all 300ms ease;
    }

    &.completed {
        box-shadow: 0px 2px 8px rgba($primary, 0.5);

        .progress-bar__bar {
            background-color: $primary-light;
        }
    }
}
</style>
