<template>
    <input :class="className" type="text" :value="value" @input="update" />
</template>

<script>
import { debounce } from 'lodash'

const update = function (event) {
    this.$emit('change', event.target.value)
}

export default {
    props: {
        className: {
            type: String
        },
        value: {
            type: String
        },
        debounceTimeout: {
            type: Number
        }
    },
    computed: {
        update () {
            return debounce(update, this.debounceTimeout).bind(this)
        }
    }
}
</script>

<style lang="scss">
@import '@/scss/_variables.scss';

input[type=text] {
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba($black, 0.1);
    transition: all 300ms ease;

    &:hover, &:focus {
        box-shadow: 0px 2px 8px rgba($primary, 0.5);
        transform: translate3d(0, -2px, 0);
    }
}
</style>
