<template>
    <div :class="['todo', todo.completed ? 'todo--completed' : '']">
        <div class="input">
            <text-input
                class-name="todo__name"
                :value="todo.name"
                :debounce-timeout="500"
                @change="updateTodoName" />
        </div>

        <div class="action-buttons">
            <checkbox-input
                class-name="todo__checkbox"
                :id="todo.id.toString()"
                :checked="todo.completed"
                @change="updateTodoStatus" />

            <custom-button
                @click="removeTodo(todo)"
                label="Remove" />
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import TextInput from './TextInput'
import CheckboxInput from './CheckboxInput'
import CustomButton from './CustomButton'

export default {
    props: ['todo'],
    components: {
        TextInput,
        CheckboxInput,
        CustomButton
    },
    methods: {
        updateTodoName: function (name) {
            this.updateTodo({
                ...this.todo,
                name
            })
        },
        updateTodoStatus: function (completed) {
            this.updateTodo({
                ...this.todo,
                completed
            })
        },
        ...mapActions([
            'updateTodo',
            'removeTodo'
        ])
    }
}
</script>

<style lang="scss">
@import '@/scss/_variables.scss';

.todo {
    display: flex;
    margin-bottom: 20px;

    .input {
        width: 100%;
    }

    .action-buttons {
        display: flex;
    }

    div {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.todo--completed {
    input.todo__name {
        background-color: $primary-light;
        color: $white;
    }
}
</style>
