<template>
    <div class="todo__list">
        <template v-if="todos.length">
            <progress-bar :completed="completed"/>
            <todo v-for="todo in todos" :key="todo.id" :todo="todo">
            </todo>
        </template>
        <div v-else class="todo__list--empty">
            <strong>The todo list is empty. Use the input above to Rock & Roll!</strong>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Todo from './Todo'
import ProgressBar from './ProgressBar'

export default {
    components: { Todo, ProgressBar },
    computed: {
        ...mapGetters({
            todos: 'getTodos',
            completed: 'getPercentCompleted'
        })
    },
    methods: {
        ...mapActions([
            'fetchTodos'
        ])
    },
    mounted () {
        this.fetchTodos()
    }
}
</script>

<style lang="scss">
@import '@/scss/_variables.scss';

.todo__list {
    &--empty{
        text-align: center;
        color: $primary;
    }
}
</style>
