<template>
    <div id="app">
        <div class="container">
            <h2>TODO APP (Vue JS)</h2>
            <new-todo/>
            <todos/>
            <notifications/>
        </div>
    </div>
</template>

<script>
import Notifications from './components/Notifications'
import Todos from './components/Todos'
import NewTodo from './components/NewTodo'

export default {
    components: {
        Notifications,
        Todos,
        NewTodo
    }
}

</script>

<style lang="scss">
@import '~normalize.css';
@import "@/scss/_variables.scss";

#app {
    font-family: Helvetica Neue,helvetica,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 20px;
    color: $black;
    background-color: $bg;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .container {
        width: 100%;
        height: 100%;
        max-width: 800px;
        padding: 20px;
    }

    h2 {
        font-size: 26px;
        color: $primary;
        text-align: center;
    }

    h3 {
        margin: 0;
    }

    * {
        box-sizing: border-box;
    }
}
</style>
